<%- provide(:title, 'Dashboard') -%>
<%- provide(:description, t('dashboard.description')) -%>
<%- provide(:navigation_highlight, "home") -%>

<div class="row">
  <div class="span4">
    <h3>Contacts</h3>
  </div>

  <div class="span4">
  </div>

  <div class="span4">
  </div>
</div>

<div class="row">
  <h3>How do I find affiliates?</h3>
  <ul>
    <li>Search for competitors names in Google.  Find blogs that are linking to competitors.</li>
    <li>Search for known banners in Google images.</li>
    <li>Search for blogs that discuss related topics.</li>
    <li>Search sites of known affiliates.</li>
    <li>Find related products in ClickBank marketplace.  Search google images for thier banners.</li>
    <li>Use modifiers on our competitors like "Reviews" or "Scam"</li>
  </ul>
</div>
