<%- provide(:title, 'Dashboard') -%>
<%- provide(:description, t('dashboard.description')) -%>
<%- provide(:navigation_highlight, "home") -%>

<div class="row">
  <div class="span4">
    <h3>Contacts</h3>
  </div>

  <div class="span4">
  </div>

  <div class="span4">
  </div>
</div>
