body {
  padding-top: 60px;
}

#admin_offer_pixel {
  width: 500px;
  height: 200px;
}

#admin_design_html, #admin_design_css, #admin_design_javascript {
  display: none;
}

.ace_editor {
    width: 903px;
    height: 410px;
    position: relative;
}

#note_description {
  width: 400px;
  height: 300px;
}
